@model string

<div class="tittle-head">
    <h4 class="latest-text">All @Model Movies</h4>
    <div class="container">
        <div class="agileits-single-top">
            <ol class="breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">@Model</li>
            </ol>
        </div>
    </div>
</div>