<footer>
    <div class="container">
        <div class="w3ls_footer_grid">
            <div class="col-md-6 w3ls_footer_grid_left">
                <div class="w3ls_footer_grid_left1">
                    <h2>Subscribe to us</h2>
                    <div class="w3ls_footer_grid_left1_pos">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="Your email..." required="">
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 w3ls_footer_grid_right">
                <a href="/"><h2>Bon<span>Movies</span></h2></a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-5 w3ls_footer_grid1_left">
            <p>&copy; 2018 Bonfire. All rights reserved | developed by <a href="http://TarekMulla.com">Tarek Mulla</a></p>
        </div>
        <div class="col-md-7 w3ls_footer_grid1_right">
            <ul>
                <li>
                    <a href="/">Movies</a>
                </li>
                <li>
                    <a asp-controller="Gener" asp-action="index" asp-route-GenerName="Action">Action</a>
                </li>
                <li>
                    <a asp-controller="Gener" asp-action="index" asp-route-GenerName="Adventure">Adventure</a>
                </li>
                <li>
                    <a asp-controller="Gener" asp-action="index" asp-route-GenerName="Comedy">Comedy</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Contact">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</footer>